workflows/2-content-drafter.json
{
  "name": "2. Content Drafter",
  "nodes": [
    {
      "parameters": {
        "content": "## 2. Content Drafter - 사용 가이드\n\n### 목적\n토픽을 받아 5개 페르소나 중 하나를 선택하고 Gemini Flash AI로 콘텐츠 초안 생성\n\n### 페르소나 (5명)\n- **Alex Chen**: 창업자, 직설적, 밤늦게 활동\n- **Sam Kim**: 시니어 개발자, 기술적, 새벽형\n- **Jenny Park**: PM, 분석적, 업무시간\n- **Mike Lee**: 그로스해커, 캐주얼, 아침형\n- **Sarah Choi**: 디자이너, 의견 강함, 점심시간\n\n### 사전 설정 필요\n1. **Credentials**: Google Gemini API 키\n2. **Variables**:\n   - `HUMANIZATION_WEBHOOK`: Workflow 3의 웹훅 URL\n\n### 웹훅 URL\n활성화 후 Webhook Trigger 노드에서 URL 복사\n→ Workflow 1의 `CONTENT_DRAFTER_WEBHOOK` 변수에 설정\n\n### 입력 데이터\n← Workflow 1에서 토픽 수신\n\n### 출력 데이터\n→ Workflow 3 (Humanization Filter)로 초안 전달\n\n### 커스터마이징\n- 페르소나 수정: 'Load Personas' 노드 편집\n- AI 온도 조절: 'Gemini Generator' 노드 설정",
        "height": 620,
        "width": 420
      },
      "id": "sticky-guide",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-520, 80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-drafter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "content-drafter-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Load personas from configuration\n// Updated to match seed users in Rails\nconst PERSONAS = [\n  {\n    id: 'alex_founder',\n    name: 'Alex Chen',\n    background: '3x 창업자, 2번 엑싯 경험, AI 스타트업 빌딩 중',\n    tone: 'direct, occasionally sarcastic, data-driven',\n    phrases: ['here\\'s the thing', 'unpopular opinion', 'learned this the hard way', 'hot take'],\n    emoji: false,\n    typoRate: 0.02,\n    length: { min: 150, max: 400 },\n    preferredTime: 'late-night',\n    expertise: ['fundraising', 'product-market-fit', 'hiring', 'startup-strategy'],\n    apiTokenVar: 'ALEX_FOUNDER_API_TOKEN'\n  },\n  {\n    id: 'dev_sam',\n    name: 'Sam Kim',\n    background: '풀스택 개발자 10년차, 스타트업 CTO 경험',\n    tone: 'technical but accessible, slightly cynical about hype',\n    phrases: ['tbh', 'ngl', 'the real issue is', '...', 'lol'],\n    emoji: false,\n    typoRate: 0.04,\n    length: { min: 100, max: 300 },\n    preferredTime: 'early-morning',\n    expertise: ['backend', 'system-design', 'debugging', 'code-review', 'devops'],\n    apiTokenVar: 'DEV_SAM_API_TOKEN'\n  },\n  {\n    id: 'jenny_pm',\n    name: 'Jenny Park',\n    background: '前 네카라쿠배 PM, 현재 초기 스타트업에서 0→1 프로덕트 빌딩',\n    tone: 'analytical, structured, occasionally uses frameworks',\n    phrases: ['from my experience', 'the key insight here', 'worth noting', 'quick thread'],\n    emoji: true,\n    typoRate: 0.01,\n    length: { min: 200, max: 500 },\n    preferredTime: 'business-hours',\n    expertise: ['product-management', 'user-research', 'metrics', 'roadmapping', 'stakeholder-management'],\n    apiTokenVar: 'JENNY_PM_API_TOKEN'\n  },\n  {\n    id: 'mike_growth',\n    name: 'Mike Lee',\n    background: '그로스 해커 5년차, MAU 10→100만 성장 경험',\n    tone: 'casual, transparent about struggles, encouraging',\n    phrases: ['building in public', 'small win', 'figured I\\'d share', 'anyone else?'],\n    emoji: true,\n    typoRate: 0.03,\n    length: { min: 80, max: 250 },\n    preferredTime: 'morning',\n    expertise: ['bootstrapping', 'marketing', 'solo-founder', 'saas', 'automation'],\n    apiTokenVar: 'MIKE_GROWTH_API_TOKEN'\n  },\n  {\n    id: 'sarah_designer',\n    name: 'Sarah Choi',\n    background: 'UX/UI 디자이너, 디자인 시스템 구축 경험',\n    tone: 'opinionated about design, appreciates craft, sometimes contrarian',\n    phrases: ['hot take', 'this drives me crazy', 'underrated', 'the details matter'],\n    emoji: false,\n    typoRate: 0.02,\n    length: { min: 120, max: 350 },\n    preferredTime: 'lunch',\n    expertise: ['ux-design', 'product-design', 'design-systems', 'accessibility', 'visual-design'],\n    apiTokenVar: 'SARAH_DESIGNER_API_TOKEN'\n  }\n];\n\nreturn {\n  json: {\n    personas: PERSONAS,\n    topic: $input.first().json.body || $input.first().json\n  }\n};"
      },
      "id": "load-personas",
      "name": "Load Personas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const { personas, topic } = $input.first().json;\n\n// Get topic expertise tags\nconst topicExpertise = topic.expertiseTags || [];\n\n// Score each persona based on expertise match\nconst scoredPersonas = personas.map(persona => {\n  const matchingExpertise = persona.expertise.filter(e => \n    topicExpertise.includes(e)\n  );\n  \n  // Base score from expertise match\n  let score = matchingExpertise.length * 10;\n  \n  // Add randomness for variety (0-15 points)\n  score += Math.random() * 15;\n  \n  // Bonus for content type match\n  if (topic.contentType === 'hot-take' && persona.phrases.includes('hot take')) {\n    score += 5;\n  }\n  if (topic.contentType === 'question' && persona.phrases.includes('anyone else?')) {\n    score += 5;\n  }\n  \n  // Controversy bonus for certain personas\n  if (topic.controversyLevel >= 4) {\n    if (persona.id === 'alex_founder' || persona.id === 'sarah_designer') {\n      score += 5;\n    }\n  }\n  \n  return {\n    ...persona,\n    score,\n    matchingExpertise\n  };\n});\n\n// Sort by score and select top\nconst selectedPersona = scoredPersonas.sort((a, b) => b.score - a.score)[0];\n\nreturn {\n  json: {\n    topic,\n    selectedPersona,\n    selectionReason: {\n      score: selectedPersona.score,\n      matchingExpertise: selectedPersona.matchingExpertise\n    }\n  }\n};"
      },
      "id": "select-persona",
      "name": "Select Persona",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const { topic, selectedPersona } = $input.first().json;\n\nconst prompt = `You are ${selectedPersona.name}, writing a community post in Korean.\n\nYOUR BACKGROUND: ${selectedPersona.background}\nYOUR TONE: ${selectedPersona.tone}\nPHRASES YOU NATURALLY USE: ${selectedPersona.phrases.join(', ')}\nTARGET LENGTH: ${selectedPersona.length.min}-${selectedPersona.length.max} words\nUSE EMOJI: ${selectedPersona.emoji ? 'occasionally, sparingly' : 'no'}\n\nTOPIC TO DISCUSS:\nTitle: ${topic.title}\nHook: ${topic.hook || ''}\nAngle: ${topic.discussionAngle}\nContent Type: ${topic.contentType}\n\nWRITING RULES:\n1. Include ONE personal anecdote or specific example from your experience\n2. Reference specific numbers, dates, or details (make them realistic for your background)\n3. Include ONE imperfection - a tangent, self-correction, or aside\n4. End with an engagement hook that's NOT \"어떻게 생각하세요?\" or \"의견 부탁드려요\"\n5. Vary sentence structure - mix short punchy sentences with longer ones\n6. Use natural Korean conversational style\n7. ${selectedPersona.emoji ? 'Add 1-2 emojis that fit naturally' : 'Do not use emojis'}\n\nAVOID THESE AI TELLS:\n- Starting with \"제 생각에는\" or \"제 의견으로는\" (too generic)\n- Perfect grammar throughout (humans make small mistakes)\n- Overly formal language\n- Multiple exclamation marks (!!)\n- Overly formal transition words\n\nCONTENT TYPE GUIDANCE:\n${topic.contentType === 'hot-take' ? '- Lead with your controversial opinion immediately\\n- Be provocative but substantive\\n- Expect and invite disagreement' : ''}\n${topic.contentType === 'question' ? '- Frame it as genuinely seeking input\\n- Share your current thinking first\\n- Make it specific, not generic' : ''}\n${topic.contentType === 'discussion' ? '- Open with a hook that draws people in\\n- Present multiple angles briefly\\n- Leave room for others to add' : ''}\n${topic.contentType === 'article' ? '- Lead with the key insight\\n- Use your experience to validate\\n- Keep it conversational, not academic' : ''}\n\nWrite ONLY the post content in Korean. No title, no formatting instructions, just the post as it would appear.`;\n\nreturn {\n  json: {\n    prompt,\n    topic,\n    selectedPersona,\n    systemMessage: 'You are a skilled community member writing an authentic post in Korean. Write naturally as the persona described, maintaining their unique voice and style.'\n  }\n};"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.85,
          "maxOutputTokens": 1000
        }
      },
      "id": "ai-generator",
      "name": "Gemini Generator",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [880, 500],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-api",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.systemMessage }}"
            }
          ]
        }
      },
      "id": "ai-chain",
      "name": "Generate Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const generatedContent = $json.text || $json.response || '';\nconst { topic, selectedPersona } = $('Build Prompt').first().json;\n\n// Clean up the content\nlet content = generatedContent.trim();\n\n// Remove any markdown formatting that might have slipped in\ncontent = content.replace(/^#+\\s*/gm, '');\ncontent = content.replace(/\\*\\*(.+?)\\*\\*/g, '$1');\ncontent = content.replace(/\\*(.+?)\\*/g, '$1');\n\nconst now = new Date().toISOString();\n\nreturn {\n  json: {\n    draftId: `draft_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n    content,\n    originalContent: content, // Keep original before humanization\n    wordCount: content.split(/\\s+/).length,\n    topic,\n    persona: selectedPersona,\n    status: 'drafted',\n    createdAt: now,\n    metadata: {\n      promptTokens: null, // Would need to capture from API\n      completionTokens: null\n    }\n  }\n};"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.HUMANIZATION_WEBHOOK }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "trigger-humanizer",
      "name": "Trigger Humanization Filter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, draftId: $('Format Output').first().json.draftId, status: 'sent_to_humanization' }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Load Personas", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Personas": {
      "main": [
        [
          { "node": "Select Persona", "type": "main", "index": 0 }
        ]
      ]
    },
    "Select Persona": {
      "main": [
        [
          { "node": "Build Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          { "node": "Generate Content", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gemini Generator": {
      "ai_languageModel": [
        [
          { "node": "Generate Content", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          { "node": "Format Output", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          { "node": "Trigger Humanization Filter", "type": "main", "index": 0 }
        ]
      ]
    },
    "Trigger Humanization Filter": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "versionId": "2",
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "community-automation"
  },
  "tags": [
    {
      "name": "community-automation"
    }
  ]
}
